# Python build artifacts
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/
ENV/

# Git folder
.git/

# IDE config folders
.vscode/
.idea/

# macOS file
.DS_Store

# Cloud Build logs
cloudbuild.yaml

# Local environment variables
.env